.transform {
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
 }
 .transform-none {
    transform: none;
 }
 .origin-center {
    transform-origin: center;
 }
 .origin-top {
    transform-origin: top;
 }
 .origin-top-right {
    transform-origin: top right;
 }
 .origin-right {
    transform-origin: right;
 }
 .origin-bottom-right {
    transform-origin: bottom right;
 }
 .origin-bottom {
    transform-origin: bottom;
 }
 .origin-bottom-left {
    transform-origin: bottom left;
 }
 .origin-left {
    transform-origin: left;
 }
 .origin-top-left {
    transform-origin: top left;
 }
 .scale-0 {
    --transform-scale-x: 0;
    --transform-scale-y: 0;
 }
 .scale-50 {
    --transform-scale-x: .5;
    --transform-scale-y: .5;
 }
 .scale-75 {
    --transform-scale-x: .75;
    --transform-scale-y: .75;
 }
 .scale-90 {
    --transform-scale-x: .9;
    --transform-scale-y: .9;
 }
 .scale-95 {
    --transform-scale-x: .95;
    --transform-scale-y: .95;
 }
 .scale-100 {
    --transform-scale-x: 1;
    --transform-scale-y: 1;
 }
 .scale-105 {
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05;
 }
 .scale-110 {
    --transform-scale-x: 1.1;
    --transform-scale-y: 1.1;
 }
 .scale-125 {
    --transform-scale-x: 1.25;
    --transform-scale-y: 1.25;
 }
 .scale-150 {
    --transform-scale-x: 1.5;
    --transform-scale-y: 1.5;
 }
 .scale-x-0 {
    --transform-scale-x: 0;
 }
 .scale-x-50 {
    --transform-scale-x: .5;
 }
 .scale-x-75 {
    --transform-scale-x: .75;
 }
 .scale-x-90 {
    --transform-scale-x: .9;
 }
 .scale-x-95 {
    --transform-scale-x: .95;
 }
 .scale-x-100 {
    --transform-scale-x: 1;
 }
 .scale-x-105 {
    --transform-scale-x: 1.05;
 }
 .scale-x-110 {
    --transform-scale-x: 1.1;
 }
 .scale-x-125 {
    --transform-scale-x: 1.25;
 }
 .scale-x-150 {
    --transform-scale-x: 1.5;
 }
 .scale-y-0 {
    --transform-scale-y: 0;
 }
 .scale-y-50 {
    --transform-scale-y: .5;
 }
 .scale-y-75 {
    --transform-scale-y: .75;
 }
 .scale-y-90 {
    --transform-scale-y: .9;
 }
 .scale-y-95 {
    --transform-scale-y: .95;
 }
 .scale-y-100 {
    --transform-scale-y: 1;
 }
 .scale-y-105 {
    --transform-scale-y: 1.05;
 }
 .scale-y-110 {
    --transform-scale-y: 1.1;
 }
 .scale-y-125 {
    --transform-scale-y: 1.25;
 }
 .scale-y-150 {
    --transform-scale-y: 1.5;
 }
 .hover:scale-0:hover {
    --transform-scale-x: 0;
    --transform-scale-y: 0;
 }
 .hover:scale-50:hover {
    --transform-scale-x: .5;
    --transform-scale-y: .5;
 }
 .hover:scale-75:hover {
    --transform-scale-x: .75;
    --transform-scale-y: .75;
 }
 .hover:scale-90:hover {
    --transform-scale-x: .9;
    --transform-scale-y: .9;
 }
 .hover:scale-95:hover {
    --transform-scale-x: .95;
    --transform-scale-y: .95;
 }
 .hover:scale-100:hover {
    --transform-scale-x: 1;
    --transform-scale-y: 1;
 }
 .hover:scale-105:hover {
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05;
 }
 .hover:scale-110:hover {
    --transform-scale-x: 1.1;
    --transform-scale-y: 1.1;
 }
 .hover:scale-125:hover {
    --transform-scale-x: 1.25;
    --transform-scale-y: 1.25;
 }
 .hover:scale-150:hover {
    --transform-scale-x: 1.5;
    --transform-scale-y: 1.5;
 }
 .hover:scale-x-0:hover {
    --transform-scale-x: 0;
 }
 .hover:scale-x-50:hover {
    --transform-scale-x: .5;
 }
 .hover:scale-x-75:hover {
    --transform-scale-x: .75;
 }
 .hover:scale-x-90:hover {
    --transform-scale-x: .9;
 }
 .hover:scale-x-95:hover {
    --transform-scale-x: .95;
 }
 .hover:scale-x-100:hover {
    --transform-scale-x: 1;
 }
 .hover:scale-x-105:hover {
    --transform-scale-x: 1.05;
 }
 .hover:scale-x-110:hover {
    --transform-scale-x: 1.1;
 }
 .hover:scale-x-125:hover {
    --transform-scale-x: 1.25;
 }
 .hover:scale-x-150:hover {
    --transform-scale-x: 1.5;
 }
 .hover:scale-y-0:hover {
    --transform-scale-y: 0;
 }
 .hover:scale-y-50:hover {
    --transform-scale-y: .5;
 }
 .hover:scale-y-75:hover {
    --transform-scale-y: .75;
 }
 .hover:scale-y-90:hover {
    --transform-scale-y: .9;
 }
 .hover:scale-y-95:hover {
    --transform-scale-y: .95;
 }
 .hover:scale-y-100:hover {
    --transform-scale-y: 1;
 }
 .hover:scale-y-105:hover {
    --transform-scale-y: 1.05;
 }
 .hover:scale-y-110:hover {
    --transform-scale-y: 1.1;
 }
 .hover:scale-y-125:hover {
    --transform-scale-y: 1.25;
 }
 .hover:scale-y-150:hover {
    --transform-scale-y: 1.5;
 }
 .focus:scale-0:focus {
    --transform-scale-x: 0;
    --transform-scale-y: 0;
 }
 .focus:scale-50:focus {
    --transform-scale-x: .5;
    --transform-scale-y: .5;
 }
 .focus:scale-75:focus {
    --transform-scale-x: .75;
    --transform-scale-y: .75;
 }
 .focus:scale-90:focus {
    --transform-scale-x: .9;
    --transform-scale-y: .9;
 }
 .focus:scale-95:focus {
    --transform-scale-x: .95;
    --transform-scale-y: .95;
 }
 .focus:scale-100:focus {
    --transform-scale-x: 1;
    --transform-scale-y: 1;
 }
 .focus:scale-105:focus {
    --transform-scale-x: 1.05;
    --transform-scale-y: 1.05;
 }
 .focus:scale-110:focus {
    --transform-scale-x: 1.1;
    --transform-scale-y: 1.1;
 }
 .focus:scale-125:focus {
    --transform-scale-x: 1.25;
    --transform-scale-y: 1.25;
 }
 .focus:scale-150:focus {
    --transform-scale-x: 1.5;
    --transform-scale-y: 1.5;
 }
 .focus:scale-x-0:focus {
    --transform-scale-x: 0;
 }
 .focus:scale-x-50:focus {
    --transform-scale-x: .5;
 }
 .focus:scale-x-75:focus {
    --transform-scale-x: .75;
 }
 .focus:scale-x-90:focus {
    --transform-scale-x: .9;
 }
 .focus:scale-x-95:focus {
    --transform-scale-x: .95;
 }
 .focus:scale-x-100:focus {
    --transform-scale-x: 1;
 }
 .focus:scale-x-105:focus {
    --transform-scale-x: 1.05;
 }
 .focus:scale-x-110:focus {
    --transform-scale-x: 1.1;
 }
 .focus:scale-x-125:focus {
    --transform-scale-x: 1.25;
 }
 .focus:scale-x-150:focus {
    --transform-scale-x: 1.5;
 }
 .focus:scale-y-0:focus {
    --transform-scale-y: 0;
 }
 .focus:scale-y-50:focus {
    --transform-scale-y: .5;
 }
 .focus:scale-y-75:focus {
    --transform-scale-y: .75;
 }
 .focus:scale-y-90:focus {
    --transform-scale-y: .9;
 }
 .focus:scale-y-95:focus {
    --transform-scale-y: .95;
 }
 .focus:scale-y-100:focus {
    --transform-scale-y: 1;
 }
 .focus:scale-y-105:focus {
    --transform-scale-y: 1.05;
 }
 .focus:scale-y-110:focus {
    --transform-scale-y: 1.1;
 }
 .focus:scale-y-125:focus {
    --transform-scale-y: 1.25;
 }
 .focus:scale-y-150:focus {
    --transform-scale-y: 1.5;
 }
 .rotate-0 {
    --transform-rotate: 0;
 }
 .rotate-45 {
    --transform-rotate: 45deg;
 }
 .rotate-90 {
    --transform-rotate: 90deg;
 }
 .rotate-180 {
    --transform-rotate: 180deg;
 }
 .-rotate-180 {
    --transform-rotate: -180deg;
 }
 .-rotate-90 {
    --transform-rotate: -90deg;
 }
 .-rotate-45 {
    --transform-rotate: -45deg;
 }
 .hover:rotate-0:hover {
    --transform-rotate: 0;
 }
 .hover:rotate-45:hover {
    --transform-rotate: 45deg;
 }
 .hover:rotate-90:hover {
    --transform-rotate: 90deg;
 }
 .hover:rotate-180:hover {
    --transform-rotate: 180deg;
 }
 .hover:-rotate-180:hover {
    --transform-rotate: -180deg;
 }
 .hover:-rotate-90:hover {
    --transform-rotate: -90deg;
 }
 .hover:-rotate-45:hover {
    --transform-rotate: -45deg;
 }
 .focus:rotate-0:focus {
    --transform-rotate: 0;
 }
 .focus:rotate-45:focus {
    --transform-rotate: 45deg;
 }
 .focus:rotate-90:focus {
    --transform-rotate: 90deg;
 }
 .focus:rotate-180:focus {
    --transform-rotate: 180deg;
 }
 .focus:-rotate-180:focus {
    --transform-rotate: -180deg;
 }
 .focus:-rotate-90:focus {
    --transform-rotate: -90deg;
 }
 .focus:-rotate-45:focus {
    --transform-rotate: -45deg;
 }
 .translate-x-0 {
    --transform-translate-x: 0;
 }
 .translate-x-1 {
    --transform-translate-x: 0.25rem;
 }
 .translate-x-2 {
    --transform-translate-x: 0.5rem;
 }
 .translate-x-3 {
    --transform-translate-x: 0.75rem;
 }
 .translate-x-4 {
    --transform-translate-x: 1rem;
 }
 .translate-x-5 {
    --transform-translate-x: 1.25rem;
 }
 .translate-x-6 {
    --transform-translate-x: 1.5rem;
 }
 .translate-x-8 {
    --transform-translate-x: 2rem;
 }
 .translate-x-10 {
    --transform-translate-x: 2.5rem;
 }
 .translate-x-12 {
    --transform-translate-x: 3rem;
 }
 .translate-x-16 {
    --transform-translate-x: 4rem;
 }
 .translate-x-20 {
    --transform-translate-x: 5rem;
 }
 .translate-x-24 {
    --transform-translate-x: 6rem;
 }
 .translate-x-32 {
    --transform-translate-x: 8rem;
 }
 .translate-x-40 {
    --transform-translate-x: 10rem;
 }
 .translate-x-48 {
    --transform-translate-x: 12rem;
 }
 .translate-x-56 {
    --transform-translate-x: 14rem;
 }
 .translate-x-64 {
    --transform-translate-x: 16rem;
 }
 .translate-x-px {
    --transform-translate-x: 1px;
 }
 .-translate-x-1 {
    --transform-translate-x: -0.25rem;
 }
 .-translate-x-2 {
    --transform-translate-x: -0.5rem;
 }
 .-translate-x-3 {
    --transform-translate-x: -0.75rem;
 }
 .-translate-x-4 {
    --transform-translate-x: -1rem;
 }
 .-translate-x-5 {
    --transform-translate-x: -1.25rem;
 }
 .-translate-x-6 {
    --transform-translate-x: -1.5rem;
 }
 .-translate-x-8 {
    --transform-translate-x: -2rem;
 }
 .-translate-x-10 {
    --transform-translate-x: -2.5rem;
 }
 .-translate-x-12 {
    --transform-translate-x: -3rem;
 }
 .-translate-x-16 {
    --transform-translate-x: -4rem;
 }
 .-translate-x-20 {
    --transform-translate-x: -5rem;
 }
 .-translate-x-24 {
    --transform-translate-x: -6rem;
 }
 .-translate-x-32 {
    --transform-translate-x: -8rem;
 }
 .-translate-x-40 {
    --transform-translate-x: -10rem;
 }
 .-translate-x-48 {
    --transform-translate-x: -12rem;
 }
 .-translate-x-56 {
    --transform-translate-x: -14rem;
 }
 .-translate-x-64 {
    --transform-translate-x: -16rem;
 }
 .-translate-x-px {
    --transform-translate-x: -1px;
 }
 .-translate-x-full {
    --transform-translate-x: -100%;
 }
 .-translate-x-1\\/2 {
    --transform-translate-x: -50%;
 }
 .translate-x-1\\/2 {
    --transform-translate-x: 50%;
 }
 .translate-x-full {
    --transform-translate-x: 100%;
 }
 .translate-y-0 {
    --transform-translate-y: 0;
 }
 .translate-y-1 {
    --transform-translate-y: 0.25rem;
 }
 .translate-y-2 {
    --transform-translate-y: 0.5rem;
 }
 .translate-y-3 {
    --transform-translate-y: 0.75rem;
 }
 .translate-y-4 {
    --transform-translate-y: 1rem;
 }
 .translate-y-5 {
    --transform-translate-y: 1.25rem;
 }
 .translate-y-6 {
    --transform-translate-y: 1.5rem;
 }
 .translate-y-8 {
    --transform-translate-y: 2rem;
 }
 .translate-y-10 {
    --transform-translate-y: 2.5rem;
 }
 .translate-y-12 {
    --transform-translate-y: 3rem;
 }
 .translate-y-16 {
    --transform-translate-y: 4rem;
 }
 .translate-y-20 {
    --transform-translate-y: 5rem;
 }
 .translate-y-24 {
    --transform-translate-y: 6rem;
 }
 .translate-y-32 {
    --transform-translate-y: 8rem;
 }
 .translate-y-40 {
    --transform-translate-y: 10rem;
 }
 .translate-y-48 {
    --transform-translate-y: 12rem;
 }
 .translate-y-56 {
    --transform-translate-y: 14rem;
 }
 .translate-y-64 {
    --transform-translate-y: 16rem;
 }
 .translate-y-px {
    --transform-translate-y: 1px;
 }
 .-translate-y-1 {
    --transform-translate-y: -0.25rem;
 }
 .-translate-y-2 {
    --transform-translate-y: -0.5rem;
 }
 .-translate-y-3 {
    --transform-translate-y: -0.75rem;
 }
 .-translate-y-4 {
    --transform-translate-y: -1rem;
 }
 .-translate-y-5 {
    --transform-translate-y: -1.25rem;
 }
 .-translate-y-6 {
    --transform-translate-y: -1.5rem;
 }
 .-translate-y-8 {
    --transform-translate-y: -2rem;
 }
 .-translate-y-10 {
    --transform-translate-y: -2.5rem;
 }
 .-translate-y-12 {
    --transform-translate-y: -3rem;
 }
 .-translate-y-16 {
    --transform-translate-y: -4rem;
 }
 .-translate-y-20 {
    --transform-translate-y: -5rem;
 }
 .-translate-y-24 {
    --transform-translate-y: -6rem;
 }
 .-translate-y-32 {
    --transform-translate-y: -8rem;
 }
 .-translate-y-40 {
    --transform-translate-y: -10rem;
 }
 .-translate-y-48 {
    --transform-translate-y: -12rem;
 }
 .-translate-y-56 {
    --transform-translate-y: -14rem;
 }
 .-translate-y-64 {
    --transform-translate-y: -16rem;
 }
 .-translate-y-px {
    --transform-translate-y: -1px;
 }
 .-translate-y-full {
    --transform-translate-y: -100%;
 }
 .-translate-y-1\\/2 {
    --transform-translate-y: -50%;
 }
 .translate-y-1\\/2 {
    --transform-translate-y: 50%;
 }
 .translate-y-full {
    --transform-translate-y: 100%;
 }
 .hover:translate-x-0:hover {
    --transform-translate-x: 0;
 }
 .hover:translate-x-1:hover {
    --transform-translate-x: 0.25rem;
 }
 .hover:translate-x-2:hover {
    --transform-translate-x: 0.5rem;
 }
 .hover:translate-x-3:hover {
    --transform-translate-x: 0.75rem;
 }
 .hover:translate-x-4:hover {
    --transform-translate-x: 1rem;
 }
 .hover:translate-x-5:hover {
    --transform-translate-x: 1.25rem;
 }
 .hover:translate-x-6:hover {
    --transform-translate-x: 1.5rem;
 }
 .hover:translate-x-8:hover {
    --transform-translate-x: 2rem;
 }
 .hover:translate-x-10:hover {
    --transform-translate-x: 2.5rem;
 }
 .hover:translate-x-12:hover {
    --transform-translate-x: 3rem;
 }
 .hover:translate-x-16:hover {
    --transform-translate-x: 4rem;
 }
 .hover:translate-x-20:hover {
    --transform-translate-x: 5rem;
 }
 .hover:translate-x-24:hover {
    --transform-translate-x: 6rem;
 }
 .hover:translate-x-32:hover {
    --transform-translate-x: 8rem;
 }
 .hover:translate-x-40:hover {
    --transform-translate-x: 10rem;
 }
 .hover:translate-x-48:hover {
    --transform-translate-x: 12rem;
 }
 .hover:translate-x-56:hover {
    --transform-translate-x: 14rem;
 }
 .hover:translate-x-64:hover {
    --transform-translate-x: 16rem;
 }
 .hover:translate-x-px:hover {
    --transform-translate-x: 1px;
 }
 .hover:-translate-x-1:hover {
    --transform-translate-x: -0.25rem;
 }
 .hover:-translate-x-2:hover {
    --transform-translate-x: -0.5rem;
 }
 .hover:-translate-x-3:hover {
    --transform-translate-x: -0.75rem;
 }
 .hover:-translate-x-4:hover {
    --transform-translate-x: -1rem;
 }
 .hover:-translate-x-5:hover {
    --transform-translate-x: -1.25rem;
 }
 .hover:-translate-x-6:hover {
    --transform-translate-x: -1.5rem;
 }
 .hover:-translate-x-8:hover {
    --transform-translate-x: -2rem;
 }
 .hover:-translate-x-10:hover {
    --transform-translate-x: -2.5rem;
 }
 .hover:-translate-x-12:hover {
    --transform-translate-x: -3rem;
 }
 .hover:-translate-x-16:hover {
    --transform-translate-x: -4rem;
 }
 .hover:-translate-x-20:hover {
    --transform-translate-x: -5rem;
 }
 .hover:-translate-x-24:hover {
    --transform-translate-x: -6rem;
 }
 .hover:-translate-x-32:hover {
    --transform-translate-x: -8rem;
 }
 .hover:-translate-x-40:hover {
    --transform-translate-x: -10rem;
 }
 .hover:-translate-x-48:hover {
    --transform-translate-x: -12rem;
 }
 .hover:-translate-x-56:hover {
    --transform-translate-x: -14rem;
 }
 .hover:-translate-x-64:hover {
    --transform-translate-x: -16rem;
 }
 .hover:-translate-x-px:hover {
    --transform-translate-x: -1px;
 }
 .hover:-translate-x-full:hover {
    --transform-translate-x: -100%;
 }
 .hover:-translate-x-1\\/2:hover {
    --transform-translate-x: -50%;
 }
 .hover:translate-x-1\\/2:hover {
    --transform-translate-x: 50%;
 }
 .hover:translate-x-full:hover {
    --transform-translate-x: 100%;
 }
 .hover:translate-y-0:hover {
    --transform-translate-y: 0;
 }
 .hover:translate-y-1:hover {
    --transform-translate-y: 0.25rem;
 }
 .hover:translate-y-2:hover {
    --transform-translate-y: 0.5rem;
 }
 .hover:translate-y-3:hover {
    --transform-translate-y: 0.75rem;
 }
 .hover:translate-y-4:hover {
    --transform-translate-y: 1rem;
 }
 .hover:translate-y-5:hover {
    --transform-translate-y: 1.25rem;
 }
 .hover:translate-y-6:hover {
    --transform-translate-y: 1.5rem;
 }
 .hover:translate-y-8:hover {
    --transform-translate-y: 2rem;
 }
 .hover:translate-y-10:hover {
    --transform-translate-y: 2.5rem;
 }
 .hover:translate-y-12:hover {
    --transform-translate-y: 3rem;
 }
 .hover:translate-y-16:hover {
    --transform-translate-y: 4rem;
 }
 .hover:translate-y-20:hover {
    --transform-translate-y: 5rem;
 }
 .hover:translate-y-24:hover {
    --transform-translate-y: 6rem;
 }
 .hover:translate-y-32:hover {
    --transform-translate-y: 8rem;
 }
 .hover:translate-y-40:hover {
    --transform-translate-y: 10rem;
 }
 .hover:translate-y-48:hover {
    --transform-translate-y: 12rem;
 }
 .hover:translate-y-56:hover {
    --transform-translate-y: 14rem;
 }
 .hover:translate-y-64:hover {
    --transform-translate-y: 16rem;
 }
 .hover:translate-y-px:hover {
    --transform-translate-y: 1px;
 }
 .hover:-translate-y-1:hover {
    --transform-translate-y: -0.25rem;
 }
 .hover:-translate-y-2:hover {
    --transform-translate-y: -0.5rem;
 }
 .hover:-translate-y-3:hover {
    --transform-translate-y: -0.75rem;
 }
 .hover:-translate-y-4:hover {
    --transform-translate-y: -1rem;
 }
 .hover:-translate-y-5:hover {
    --transform-translate-y: -1.25rem;
 }
 .hover:-translate-y-6:hover {
    --transform-translate-y: -1.5rem;
 }
 .hover:-translate-y-8:hover {
    --transform-translate-y: -2rem;
 }
 .hover:-translate-y-10:hover {
    --transform-translate-y: -2.5rem;
 }
 .hover:-translate-y-12:hover {
    --transform-translate-y: -3rem;
 }
 .hover:-translate-y-16:hover {
    --transform-translate-y: -4rem;
 }
 .hover:-translate-y-20:hover {
    --transform-translate-y: -5rem;
 }
 .hover:-translate-y-24:hover {
    --transform-translate-y: -6rem;
 }
 .hover:-translate-y-32:hover {
    --transform-translate-y: -8rem;
 }
 .hover:-translate-y-40:hover {
    --transform-translate-y: -10rem;
 }
 .hover:-translate-y-48:hover {
    --transform-translate-y: -12rem;
 }
 .hover:-translate-y-56:hover {
    --transform-translate-y: -14rem;
 }
 .hover:-translate-y-64:hover {
    --transform-translate-y: -16rem;
 }
 .hover:-translate-y-px:hover {
    --transform-translate-y: -1px;
 }
 .hover:-translate-y-full:hover {
    --transform-translate-y: -100%;
 }
 .hover:-translate-y-1\\/2:hover {
    --transform-translate-y: -50%;
 }
 .hover:translate-y-1\\/2:hover {
    --transform-translate-y: 50%;
 }
 .hover:translate-y-full:hover {
    --transform-translate-y: 100%;
 }
 .focus:translate-x-0:focus {
    --transform-translate-x: 0;
 }
 .focus:translate-x-1:focus {
    --transform-translate-x: 0.25rem;
 }
 .focus:translate-x-2:focus {
    --transform-translate-x: 0.5rem;
 }
 .focus:translate-x-3:focus {
    --transform-translate-x: 0.75rem;
 }
 .focus:translate-x-4:focus {
    --transform-translate-x: 1rem;
 }
 .focus:translate-x-5:focus {
    --transform-translate-x: 1.25rem;
 }
 .focus:translate-x-6:focus {
    --transform-translate-x: 1.5rem;
 }
 .focus:translate-x-8:focus {
    --transform-translate-x: 2rem;
 }
 .focus:translate-x-10:focus {
    --transform-translate-x: 2.5rem;
 }
 .focus:translate-x-12:focus {
    --transform-translate-x: 3rem;
 }
 .focus:translate-x-16:focus {
    --transform-translate-x: 4rem;
 }
 .focus:translate-x-20:focus {
    --transform-translate-x: 5rem;
 }
 .focus:translate-x-24:focus {
    --transform-translate-x: 6rem;
 }
 .focus:translate-x-32:focus {
    --transform-translate-x: 8rem;
 }
 .focus:translate-x-40:focus {
    --transform-translate-x: 10rem;
 }
 .focus:translate-x-48:focus {
    --transform-translate-x: 12rem;
 }
 .focus:translate-x-56:focus {
    --transform-translate-x: 14rem;
 }
 .focus:translate-x-64:focus {
    --transform-translate-x: 16rem;
 }
 .focus:translate-x-px:focus {
    --transform-translate-x: 1px;
 }
 .focus:-translate-x-1:focus {
    --transform-translate-x: -0.25rem;
 }
 .focus:-translate-x-2:focus {
    --transform-translate-x: -0.5rem;
 }
 .focus:-translate-x-3:focus {
    --transform-translate-x: -0.75rem;
 }
 .focus:-translate-x-4:focus {
    --transform-translate-x: -1rem;
 }
 .focus:-translate-x-5:focus {
    --transform-translate-x: -1.25rem;
 }
 .focus:-translate-x-6:focus {
    --transform-translate-x: -1.5rem;
 }
 .focus:-translate-x-8:focus {
    --transform-translate-x: -2rem;
 }
 .focus:-translate-x-10:focus {
    --transform-translate-x: -2.5rem;
 }
 .focus:-translate-x-12:focus {
    --transform-translate-x: -3rem;
 }
 .focus:-translate-x-16:focus {
    --transform-translate-x: -4rem;
 }
 .focus:-translate-x-20:focus {
    --transform-translate-x: -5rem;
 }
 .focus:-translate-x-24:focus {
    --transform-translate-x: -6rem;
 }
 .focus:-translate-x-32:focus {
    --transform-translate-x: -8rem;
 }
 .focus:-translate-x-40:focus {
    --transform-translate-x: -10rem;
 }
 .focus:-translate-x-48:focus {
    --transform-translate-x: -12rem;
 }
 .focus:-translate-x-56:focus {
    --transform-translate-x: -14rem;
 }
 .focus:-translate-x-64:focus {
    --transform-translate-x: -16rem;
 }
 .focus:-translate-x-px:focus {
    --transform-translate-x: -1px;
 }
 .focus:-translate-x-full:focus {
    --transform-translate-x: -100%;
 }
 .focus:-translate-x-1\\/2:focus {
    --transform-translate-x: -50%;
 }
 .focus:translate-x-1\\/2:focus {
    --transform-translate-x: 50%;
 }
 .focus:translate-x-full:focus {
    --transform-translate-x: 100%;
 }
 .focus:translate-y-0:focus {
    --transform-translate-y: 0;
 }
 .focus:translate-y-1:focus {
    --transform-translate-y: 0.25rem;
 }
 .focus:translate-y-2:focus {
    --transform-translate-y: 0.5rem;
 }
 .focus:translate-y-3:focus {
    --transform-translate-y: 0.75rem;
 }
 .focus:translate-y-4:focus {
    --transform-translate-y: 1rem;
 }
 .focus:translate-y-5:focus {
    --transform-translate-y: 1.25rem;
 }
 .focus:translate-y-6:focus {
    --transform-translate-y: 1.5rem;
 }
 .focus:translate-y-8:focus {
    --transform-translate-y: 2rem;
 }
 .focus:translate-y-10:focus {
    --transform-translate-y: 2.5rem;
 }
 .focus:translate-y-12:focus {
    --transform-translate-y: 3rem;
 }
 .focus:translate-y-16:focus {
    --transform-translate-y: 4rem;
 }
 .focus:translate-y-20:focus {
    --transform-translate-y: 5rem;
 }
 .focus:translate-y-24:focus {
    --transform-translate-y: 6rem;
 }
 .focus:translate-y-32:focus {
    --transform-translate-y: 8rem;
 }
 .focus:translate-y-40:focus {
    --transform-translate-y: 10rem;
 }
 .focus:translate-y-48:focus {
    --transform-translate-y: 12rem;
 }
 .focus:translate-y-56:focus {
    --transform-translate-y: 14rem;
 }
 .focus:translate-y-64:focus {
    --transform-translate-y: 16rem;
 }
 .focus:translate-y-px:focus {
    --transform-translate-y: 1px;
 }
 .focus:-translate-y-1:focus {
    --transform-translate-y: -0.25rem;
 }
 .focus:-translate-y-2:focus {
    --transform-translate-y: -0.5rem;
 }
 .focus:-translate-y-3:focus {
    --transform-translate-y: -0.75rem;
 }
 .focus:-translate-y-4:focus {
    --transform-translate-y: -1rem;
 }
 .focus:-translate-y-5:focus {
    --transform-translate-y: -1.25rem;
 }
 .focus:-translate-y-6:focus {
    --transform-translate-y: -1.5rem;
 }
 .focus:-translate-y-8:focus {
    --transform-translate-y: -2rem;
 }
 .focus:-translate-y-10:focus {
    --transform-translate-y: -2.5rem;
 }
 .focus:-translate-y-12:focus {
    --transform-translate-y: -3rem;
 }
 .focus:-translate-y-16:focus {
    --transform-translate-y: -4rem;
 }
 .focus:-translate-y-20:focus {
    --transform-translate-y: -5rem;
 }
 .focus:-translate-y-24:focus {
    --transform-translate-y: -6rem;
 }
 .focus:-translate-y-32:focus {
    --transform-translate-y: -8rem;
 }
 .focus:-translate-y-40:focus {
    --transform-translate-y: -10rem;
 }
 .focus:-translate-y-48:focus {
    --transform-translate-y: -12rem;
 }
 .focus:-translate-y-56:focus {
    --transform-translate-y: -14rem;
 }
 .focus:-translate-y-64:focus {
    --transform-translate-y: -16rem;
 }
 .focus:-translate-y-px:focus {
    --transform-translate-y: -1px;
 }
 .focus:-translate-y-full:focus {
    --transform-translate-y: -100%;
 }
 .focus:-translate-y-1\\/2:focus {
    --transform-translate-y: -50%;
 }
 .focus:translate-y-1\\/2:focus {
    --transform-translate-y: 50%;
 }
 .focus:translate-y-full:focus {
    --transform-translate-y: 100%;
 }
 .skew-x-0 {
    --transform-skew-x: 0;
 }
 .skew-x-3 {
    --transform-skew-x: 3deg;
 }
 .skew-x-6 {
    --transform-skew-x: 6deg;
 }
 .skew-x-12 {
    --transform-skew-x: 12deg;
 }
 .-skew-x-12 {
    --transform-skew-x: -12deg;
 }
 .-skew-x-6 {
    --transform-skew-x: -6deg;
 }
 .-skew-x-3 {
    --transform-skew-x: -3deg;
 }
 .skew-y-0 {
    --transform-skew-y: 0;
 }
 .skew-y-3 {
    --transform-skew-y: 3deg;
 }
 .skew-y-6 {
    --transform-skew-y: 6deg;
 }
 .skew-y-12 {
    --transform-skew-y: 12deg;
 }
 .-skew-y-12 {
    --transform-skew-y: -12deg;
 }
 .-skew-y-6 {
    --transform-skew-y: -6deg;
 }
 .-skew-y-3 {
    --transform-skew-y: -3deg;
 }
 .hover:skew-x-0:hover {
    --transform-skew-x: 0;
 }
 .hover:skew-x-3:hover {
    --transform-skew-x: 3deg;
 }
 .hover:skew-x-6:hover {
    --transform-skew-x: 6deg;
 }
 .hover:skew-x-12:hover {
    --transform-skew-x: 12deg;
 }
 .hover:-skew-x-12:hover {
    --transform-skew-x: -12deg;
 }
 .hover:-skew-x-6:hover {
    --transform-skew-x: -6deg;
 }
 .hover:-skew-x-3:hover {
    --transform-skew-x: -3deg;
 }
 .hover:skew-y-0:hover {
    --transform-skew-y: 0;
 }
 .hover:skew-y-3:hover {
    --transform-skew-y: 3deg;
 }
 .hover:skew-y-6:hover {
    --transform-skew-y: 6deg;
 }
 .hover:skew-y-12:hover {
    --transform-skew-y: 12deg;
 }
 .hover:-skew-y-12:hover {
    --transform-skew-y: -12deg;
 }
 .hover:-skew-y-6:hover {
    --transform-skew-y: -6deg;
 }
 .hover:-skew-y-3:hover {
    --transform-skew-y: -3deg;
 }
 .focus:skew-x-0:focus {
    --transform-skew-x: 0;
 }
 .focus:skew-x-3:focus {
    --transform-skew-x: 3deg;
 }
 .focus:skew-x-6:focus {
    --transform-skew-x: 6deg;
 }
 .focus:skew-x-12:focus {
    --transform-skew-x: 12deg;
 }
 .focus:-skew-x-12:focus {
    --transform-skew-x: -12deg;
 }
 .focus:-skew-x-6:focus {
    --transform-skew-x: -6deg;
 }
 .focus:-skew-x-3:focus {
    --transform-skew-x: -3deg;
 }
 .focus:skew-y-0:focus {
    --transform-skew-y: 0;
 }
 .focus:skew-y-3:focus {
    --transform-skew-y: 3deg;
 }
 .focus:skew-y-6:focus {
    --transform-skew-y: 6deg;
 }
 .focus:skew-y-12:focus {
    --transform-skew-y: 12deg;
 }
 .focus:-skew-y-12:focus {
    --transform-skew-y: -12deg;
 }
 .focus:-skew-y-6:focus {
    --transform-skew-y: -6deg;
 }
 .focus:-skew-y-3:focus {
    --transform-skew-y: -3deg;
 }
 .transition-none {
    transition-property: none;
 }
 .transition-all {
    transition-property: all;
 }
 .transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
 }
 .transition-colors {
    transition-property: background-color, border-color, color, fill, stroke;
 }
 .transition-opacity {
    transition-property: opacity;
 }
 .transition-shadow {
    transition-property: box-shadow;
 }
 .transition-transform {
    transition-property: transform;
 }
 .ease-linear {
    transition-timing-function: linear;
 }
 .ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
 }
 .ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
 }
 .ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 .duration-75 {
    transition-duration: 75ms;
 }
 .duration-100 {
    transition-duration: 100ms;
 }
 .duration-150 {
    transition-duration: 150ms;
 }
 .duration-200 {
    transition-duration: 200ms;
 }
 .duration-300 {
    transition-duration: 300ms;
 }
 .duration-500 {
    transition-duration: 500ms;
 }
 .duration-700 {
    transition-duration: 700ms;
 }
 .duration-1000 {
    transition-duration: 1000ms;
 }
 .delay-75 {
    transition-delay: 75ms;
 }
 .delay-100 {
    transition-delay: 100ms;
 }
 .delay-150 {
    transition-delay: 150ms;
 }
 .delay-200 {
    transition-delay: 200ms;
 }
 .delay-300 {
    transition-delay: 300ms;
 }
 .delay-500 {
    transition-delay: 500ms;
 }
 .delay-700 {
    transition-delay: 700ms;
 }
 .delay-1000 {
    transition-delay: 1000ms;
 }
 @-webkit-keyframes spin {
    to {
         transform: rotate(360deg);
    }
 }
 @keyframes spin {
    to {
         transform: rotate(360deg);
    }
 }
 @-webkit-keyframes ping {
    75%, 100% {
         transform: scale(2);
         opacity: 0;
    }
 }
 @keyframes ping {
    75%, 100% {
         transform: scale(2);
         opacity: 0;
    }
 }
 @-webkit-keyframes pulse {
    50% {
         opacity: .5;
    }
 }
 @keyframes pulse {
    50% {
         opacity: .5;
    }
 }
 @-webkit-keyframes bounce {
    0%, 100% {
         transform: translateY(-25%);
         -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
         animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
         transform: none;
         -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
         animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
 }
 @keyframes bounce {
    0%, 100% {
         transform: translateY(-25%);
         -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
         animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
         transform: none;
         -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
         animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
 }
 .animate-none {
    -webkit-animation: none;
     animation: none;
 }
 .animate-spin {
    -webkit-animation: spin 1s linear infinite;
     animation: spin 1s linear infinite;
 }
 .animate-ping {
    -webkit-animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
     animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
 }
 .animate-pulse {
    -webkit-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
     animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
 }
 .animate-bounce {
    -webkit-animation: bounce 1s infinite;
     animation: bounce 1s infinite;
 }
 
 